* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  padding: 50px 100px;
  margin: auto;
}

.header_container {
  padding: 5px 15px 15px 15px;
  border-bottom: solid 1px #D3D3D3;
  box-shadow: 0px 1px 5px #D3D3D3;
}

.search_criteria_box {
  display: flex;
}

.logo_icon img {
  object-fit: contain;
  height: 50px;
}

.logo_icon {
  display: inline;
  padding-right: 15px
}

.search_form {
  width: 100%;
  max-width: 600px;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_form_input {
  width: calc(100% / 3);
  height: 40px;
  padding-left: 10px;
}

.search_1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px #D3D3D3;
}

.search_3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px #D3D3D3;
}

/*Header Links*/
.header_links_container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 5px;
}

.header_links_container a {
  text-decoration: none;
  color:#7e7e7e;
  font-size: 12px;
}

/*Header Links*/

/*Just Booked*/

.just_booked_container {
  display: flex;
  margin: auto;
  text-align: center;
  /*justify-content: space-around;*/
}

.just_booked_box {
  margin-right: 15px;
}

.just_booked_box img {
  object-fit: contain;
  height: 300px;
}

/*Just Booked*/
